In [2]:
import pandas as pd
a=pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})
b=pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])
b

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [3]:
ingredients =pd.Series(['4 cups','1 cup','2 large','1 can'],
                       index=['Flour','Milk','Eggs','Spam'],name='Dinner')
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [4]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals.to_csv("cows_and_goats.csv")
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [ ]:
'''
#indexing
reviews['country'][0]
reviews.iloc[:, 0]
reviews.iloc[[0, 1, 2], 0]
reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]
reviews.set_index("title")
reviews.loc[(reviews.country.isin(['Australia','New Zealand'])) & (reviews.points>=95)]
'''

In [2]:
"""
functions and map
median_points = reviews.points.median()
countries = reviews.country.unique()
reviews_per_country = reviews.country.value_counts()
centered_price = reviews.price - reviews.price.mean()

#point_to_price_ratio
bargain_idx = (reviews.points / reviews.price).idxmax()
bargain_wine = reviews.loc[bargain_idx, 'title']
#count_2words_tropical&fruity
n_trop = reviews.description.map(lambda desc: "tropical" in desc).sum()
n_fruity = reviews.description.map(lambda desc: "fruity" in desc).sum()
descriptor_counts = pd.Series([n_trop, n_fruity], index=['tropical', 'fruity'])

#giving_stars
def stars(row):
    if row.country == 'Canada':
        return 3
    elif row.points >= 95:
        return 3
    elif row.points >= 85:
        return 2
    else:
        return 1

star_ratings = reviews.apply(stars, axis='columns')

"""

'\nfunctions and map\nmedian_points = reviews.points.median()\ncountries = reviews.country.unique()\nreviews_per_country = reviews.country.value_counts()\ncentered_price = reviews.price - reviews.price.mean()\n\n#point_to_price_ratio\nbargain_idx = (reviews.points / reviews.price).idxmax()\nbargain_wine = reviews.loc[bargain_idx, \'title\']\n#count_2words_tropical&fruity\nn_trop = reviews.description.map(lambda desc: "tropical" in desc).sum()\nn_fruity = reviews.description.map(lambda desc: "fruity" in desc).sum()\ndescriptor_counts = pd.Series([n_trop, n_fruity], index=[\'tropical\', \'fruity\'])\n\n#giving_stars\ndef stars(row):\n    if row.country == \'Canada\':\n        return 3\n    elif row.points >= 95:\n        return 3\n    elif row.points >= 85:\n        return 2\n    else:\n        return 1\n\nstar_ratings = reviews.apply(stars, axis=\'columns\')\n\n'

In [1]:
#sorting_grouping

In [2]:
"""
#reviews.groupby('index').values.function
reviews.groupby('points').points.count()
reviews.groupby(['country']).price.agg([len, min, max])
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])

#countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')
countries_reviewed.sort_values(by=['country', 'len'])
"""

"\n#reviews.groupby('index').values.function\nreviews.groupby('points').points.count()\nreviews.groupby(['country']).price.agg([len, min, max])\ncountries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])\n\n#countries_reviewed = countries_reviewed.reset_index()\ncountries_reviewed.sort_values(by='len')\ncountries_reviewed.sort_values(by=['country', 'len'])\n"

In [3]:
#missing_values

In [4]:
"""
dtype = reviews.points.dtype
point_strings = reviews.points.astype('str')
miss=reviews[reviews.price.isnull()]
reviews.taster_twitter_handle.replace("@kerinokeefe", "@kerino")
reviews_per_region = reviews.region_1.fillna('unknown').value_counts().sort_values(ascending=False)
"""

'\ndtype = reviews.points.dtype\npoint_strings = reviews.points.astype(\'str\')\nmiss=reviews[reviews.price.isnull()]\nreviews.taster_twitter_handle.replace("@kerinokeefe", "@kerino")\nreviews_per_region = reviews.region_1.fillna(\'unknown\').value_counts().sort_values(ascending=False)\n'

In [5]:
#renaming_combine

In [ ]:
renamed = reviews.rename(columns=dict(region_1='region', region_2='locale'))
reindexed = reviews.rename_axis('wines', axis='rows')
combined_products =pd.concat([gaming_products, movie_products])
powerlifting_combined = powerlifting_meets.set_index("MeetID").join(powerlifting_competitors.set_index("MeetID"))